<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menu-icon"></ion-icon>
    </button>
    <ion-title>
      Cadastro de gêneros
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!showSubmited" id="genero_div" class="center item item-input no-overlap" style="text-align: center;">

    <form [formGroup]="generoForm">

      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input [class.invalid]="!generoForm.controls.generoNome.valid && (generoForm.controls.generoNome.dirty || !invalidForm)" type="text" formControlName="generoNome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-textarea [class.invalid]="!generoForm.controls.generoDescricao.valid && (generoForm.controls.generoDescricao.dirty || !invalidForm)" type="text" formControlName="generoDescricao"></ion-textarea>
      </ion-item>

      <br>

      <button id="genero_button" ion-button block (click)="submit()">Enviar</button>

    </form>
    <p *ngIf="showError" style="color: #ea6153;" >{{errorMessage}}</p>
    <br>
    <a id="submited_button" (click)="callSubmitedPage()">Ir para registros</a>

  </div>

  <div *ngIf="showSubmited" id="submited_div " class="center no-overlap" style="text-align: center;">
  <ion-grid>
    <ion-row>
    <ion-col>
    <ion-list>
    <ion-list-header>
      <h1> Gêneros cadastrados</h1>
    </ion-list-header>
      <button ion-item *ngFor="let item of items | async" (click) = "selectItem(item)">
        <h2 *ngIf="isSelected(item)" class="highlight">{{item.nome}}</h2>
        <h2 *ngIf="!isSelected(item)">{{item.nome}}</h2>
      </button>
    </ion-list>
    </ion-col>
    <ion-col *ngIf="showCurrentlyItem">
      <h1> {{currentlyItem.nome}} </h1>
      <p class = "text">{{currentlyItem.descricao}}</p>
    </ion-col>
    </ion-row>
    <button id="genero_button" ion-button block (click)="callRegisterPage()">Sugerir novo gênero</button>
    <br>
    <a id="submited_button" (click)="callHomePage()">Ir para página inicial</a>
    </ion-grid>
  </div>
</ion-content>