<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menu-icon"></ion-icon>
    </button>
    <ion-title>
      Cadastro de palavra-chave
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!showSubmited" id="tags_div" class="center item item-input no-overlap" no-padding style="text-align: center;">

    <form [formGroup]="tagsForm">

      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input [class.invalid]="!tagsForm.controls.tagNome.valid && (tagsForm.controls.tagNome.dirty || !invalidForm)" type="text" formControlName="tagNome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-textarea [class.invalid]="!tagsForm.controls.tagDescricao.valid && (tagsForm.controls.tagDescricao.dirty || !invalidForm)" type="text" formControlName="tagDescricao"></ion-textarea>
      </ion-item>

      <br>

      <button id="tags_button" ion-button block (click)="submit()">Enviar</button>

    </form>

    <p *ngIf="showError" style="color: #ea6153;" >{{errorMessage}}</p>
    <br>
    <a id="submited_button" (click)="callSubmitedPage()">Ir para registros</a>

  </div>

  <div *ngIf="showSubmited" id="submited_div " class="center no-overlap" style="text-align: center;">
  <ion-grid>
    <ion-row>
    <ion-col>
    <ion-list>
    <ion-list-header>
      <h1>Tags cadastradas</h1>
    </ion-list-header>
      <button ion-item *ngFor="let item of items | async" (click) = "selectItem(item)">
        <h2 *ngIf="isSelected(item)" class="highlight">{{item.nome}}</h2>
        <h2 *ngIf="!isSelected(item)">{{item.nome}}</h2>
      </button>
    </ion-list>
    </ion-col>
    <ion-col *ngIf="showCurrentlyItem">
      <h1> {{currentlyItem.nome}} </h1>
      <p class = "text">{{currentlyItem.descricao}}</p>
    </ion-col>
    </ion-row>
    <button id="tags_button" ion-button block (click)="callRegisterPage()">Cadastrar nova tag</button>
    <br>
    <a id="submited_button" (click)="callHomePage()">Ir para página inicial</a>
    </ion-grid>
  </div>

</ion-content>