<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menu-icon"></ion-icon>
    </button>
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-header" padding *ngIf="isLoaded">
  <ion-grid >
  <ion-row></ion-row>
    <div id="perfil_div" class="item item-input" >
      <ion-row align-items-end justify-content-start>
      
      <ion-col col-12>
      <br>
        <div id="perfil_imageDiv" class="float" style="text-align: center;float:left;display: inline-block;">
          <h5 id = "loadedNickname"><span>{{perfilApelido}}</span></h5>
          <ion-thumbnail id="perfil_thumb">
            <img src="{{perfilImage}}">
          </ion-thumbnail>
        </div>

        <div style="position: relative;  text-align: bottom; float:left; padding-left: 25px ">
          
          <h2 icon-left >
          {{perfilNome}} 
          <ion-icon class="iconSize" [name]="perfilSexoIcone"></ion-icon>
          </h2> 
  

          <p id = "loadedEmail">{{perfilEmail}}</p>
          <p>{{perfilData}}</p>
          <br><br><br><br>
          <h2>Marcações</h2>
          <p *ngFor="let m of perfilMarked">{{m}}</p>
          <button  id="perfil_sair" ion-button color="danger" block (click)="logout()">Sair</button>
          
       </div>
      </ion-col>

      </ion-row>
      <ion-row>
      <!-- AQUI ENTRARIA O RESTANTE DO PERFIL, POSTAGENS, ETC-->

      </ion-row>
       
      
    </div>
  </ion-grid>
</ion-content>