page-perfil{

	#perfil_thumb {
		margin-left: 20px;
		width: 200px;
		height: 200px;
	}

	#perfil_imageDiv {
		position: relative;
		height: 200px;
		width: 200px;
	};

	.hidden {
		display: none;
	}

	h5 {
		position: absolute;
		top: 173px;
		left: 20px;
		width: 100%;
		color: white;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.5);
		padding: 5px;
	}


	scroll-content {
		display: flex;
		flex-direction: column;


	}

	ion-grid {
		padding: 0;
		height: 100%;
	}


	ion-row {
		flex:0.1;
		/*border-bottom: 1px solid black;*/
	}
	.iconSize{
		font-size:17px;
	}


	.col{
		/*background: gray;
		border: think solid black;/*/
	}



};