<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menu-icon"></ion-icon>
    </button>
    <ion-title>
      Cadastro de filme
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="!showSubmited" >
  <div id="filme_div" class="center item item-input" style="text-align: center;">

<br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div id="filme_imageDiv" onclick="document.getElementById('filme_fileInput').click();">
        <h5><span>Selecionar imagem</span></h5>
        <ion-thumbnail id="filme_thumb">
          <img src="assets/person.png" #image>
        </ion-thumbnail>
        <input type="file" id="filme_fileInput" accept="image/png,image/gif,image/jpeg" (change)="imageUploaded($event)" style="display: none;" #input>
      </div>
    <form [formGroup]="filmeForm">

      <ion-item>
        <ion-label floating>Título</ion-label>
        <ion-input [class.invalid]="!filmeForm.controls.filmeTitulo.valid && (filmeForm.controls.filmeTitulo.dirty || !invalidForm)" type="text" formControlName="filmeTitulo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Sinopse</ion-label>
        <ion-textarea [class.invalid]="!filmeForm.controls.filmeSinopse.valid && (filmeForm.controls.filmeSinopse.dirty || !invalidForm)" type="text" formControlName="filmeSinopse"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating>Duração</ion-label>
        <ion-input [class.invalid]="!filmeForm.controls.filmeDuracao.valid && (filmeForm.controls.filmeDuracao.dirty || !invalidForm)" min="0" type="number" formControlName="filmeDuracao">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Ano de lançamento</ion-label>
        <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" formControlName="filmeAno"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Gêneros</ion-label>
        <ion-select [class.invalid]="!filmeForm.controls.filmeGeneros.valid && (filmeForm.controls.filmeGeneros.dirty || !invalidForm)" multiple="true" type="text" formControlName="filmeGeneros">
        <ion-option *ngFor = "let genero of generos | async " value = "{{genero.codigo}}">
          {{genero.nome}}
        </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Tags</ion-label>
        <ion-select [class.invalid]="!filmeForm.controls.filmeTags.valid && (filmeForm.controls.filmeTags.dirty || !invalidForm)" multiple="true" type="text" formControlName="filmeTags">
        <ion-option *ngFor = "let tag of tags | async " value = "{{tag.codigo}}">
          {{tag.nome}}
        </ion-option>
        </ion-select>
      </ion-item>      

      <br>    

      <button id="filme_button" ion-button block (click)="submit()">Enviar</button>

    </form>
    <p *ngIf="showError" style="color: #ea6153;" >{{errorMessage}}</p>
    <br>
    <a id="submited_button" (click)="callSubmitedPage()">Ir para registros</a>

  </div>
</ion-content>

<ion-content *ngIf="showSubmited">
  <div id="submited_div " class="center no-overlap" style="text-align: center;">
  <ion-grid>
    <ion-row>
    <ion-col>
    <ion-list>
    <ion-list-header>
      <h1> Filmes cadastrados</h1>
    </ion-list-header>
      <button ion-item *ngFor="let item of items | async" (click) = "selectItem(item)">
        <h2 *ngIf="isSelected(item)" class="highlight">{{item.titulo}}</h2>
        <h2 *ngIf="!isSelected(item)">{{item.titulo}}</h2>
      </button>
    </ion-list>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col *ngIf="showCurrentlyItem">
      <div id="filme_imageDiv">
        <ion-thumbnail id="filme_thumb">
          <img src="{{currentlyItem.image}}">
        </ion-thumbnail>
      </div>
    </ion-col>
    <ion-col *ngIf="showCurrentlyItem">
    <ion-list>
    <ion-list-header> {{currentlyItem.titulo}} </ion-list-header>
      <p> Sinopse: {{currentlyItem.sinopse}}</p>
      <ion-item> Duração: {{currentlyItem.duracao}} minutos</ion-item>
      <ion-item> Ano de exibição: {{currentlyItem.ano}} </ion-item>
      <ion-item> Gênero:  <span *ngFor="let g of listaGeneros"> {{lookForGenero(g)}}</span></ion-item>
      <ion-item> Tags:  <span *ngFor="let t of listaTags"> {{lookForTag(t)}} </span></ion-item>
      <ion-item> Nota:  {{lookForMedia()}}</ion-item>
    </ion-list>
    </ion-col>
    </ion-row>
    </ion-grid>
    <br><br><br><br>
    <button id="filme_button" ion-button block (click)="callRegisterPage()">Cadastrar novo filme</button>
    <br>
    <a id="submited_button" (click)="callHomePage()">Ir para página inicial</a>
  </div>
</ion-content>