page-sugestoes{

  .vertical-align-content > *{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
  }

  .highlight{
    font-weight: bold;
      color: #387ef5;
  }
  .text{
      text-align: justify;
      text-justify: inter-word;
  }
  .no-overlap{
    height: 75%;
  }

  p {
    font-size: 1em;
    color: #d2d2d2;
    margin-left: 10px;
  }

  ion-label, .select-text {
    margin-left: 10px;
  }

  .invalid {
    border-bottom: 1px solid #ea6153;
  }

  #episodio_thumb {
    margin-left: 20px;
    width: 200px;
    height: 200px;
  }

  #episodio_imageDiv {
    position: relative;
    width: 100%;
    cursor: pointer;
  };

  #livro_thumb {
    margin-left: 20px;
    width: 200px;
    height: 200px;
  }

  #livro_imageDiv {
    position: relative;
    width: 100%;
    cursor: pointer;
  };

  #filme_thumb {
    margin-left: 20px;
    width: 200px;
    height: 200px;
  }

  #filme_imageDiv {
    position: relative;
    width: 100%;
    cursor: pointer;
  };

  h5 {
    position: absolute;
    top: 153px;
    left: 0;
    width: 100%;
    color: white;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
  }

};